.aboutImage{
    height:450px;
    width:300px;
    border-radius:2rem;
}

.typewritter{
    font-family: 'VT323', monospace;
    font-size:3em;
    position: relative;
}


.cyberColor{
    color:#46C016;
    
}
a{
    text-decoration:none;
}