.container{
    margin:20% 0;
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.title {
    color:white;
    z-index:9;
    font-size: 5rem;
    display: inline-block;
    padding:3rem 5rem 4.5rem;
    border:0.4rem solid #fff;
    border-radius: 2rem;
    text-transform:uppercase;
    font-weight: 200;
  font-style: italic;
    animation: flicker 2.5s infinite alternate; 
}


  @keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
